<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>主页</title>
<link th:include="/common/resources :: resources"/>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="#">主页</a>
   </div>
   <ul class="nav navbar-nav navbar-right">
     <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
       <ul class="dropdown-menu">
         <li><a href="#">退出</a></li>
       </ul>
     </li>
   </ul>
  </div>
</nav>
<div class="container-fluid">
	<table id="device-table" class="table table-bordered">
	   <thead>
	        <tr>
	        	<th><input type="checkbox"/></th>
	            <th data-field="id" data-width="100">ID</th>
	            <th data-field="title">名称</th>
	            <th data-field="online">是否在线</th>
	            <th data-field="location" data-formatter="format">地理位置</th>
	            <th data-field="auth_info" data-formatter="format">认证信息</th>
	            <th data-field="create_time">创建时间</th>
	            <th data-field="fmt">操作</th>
	        </tr>
	    </thead>
	</table>
</div>
</body>
<script>
function format(value) {
	return JSON.stringify(value);
}
$('#device-table').bootstrapTable({
   method: 'post',
   cache: false,
   striped: true,
   pagination: true,
   pageSize: 30,
   pageList: [30, 50],
   url: "/main/list",
   sidePagination: "server",
   search: false,
   pagination:true,
   responseHandler: function(res) {
       return {
           "total": res.total,
           "rows": JSON.parse(res.rows)
        };
   },
});
	
</script>
</html>