<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>主页</title>
<link th:include="/common/resources :: resources"/>
</head>
<body>
<nav class="navbar navbar-default">
<div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand active" href="#">主页</a>
   </div>
   <ul class="nav navbar-nav">
     <li class=""><a href="/main/index">设备 <span class="sr-only"></span></a></li>
     <li class="active"><a href="/main/bind">绑定 <span class="sr-only"></span></a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
     <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> 
       	<span th:text="${session.USER.username}"></span>
       	<span class="caret"></span>
       </a>
       <ul class="dropdown-menu">
         <li><a th:href="@{/main/logout}">退出</a></li>
       </ul>
     </li>
   </ul>
  </div>
</nav>
<div class="container-fluid">
	<hr class="simple" color="#6f5499" />
	<table id="device-table" class="table table-bordered text text-center" data-pagination="true">
	   <thead>
	        <tr>
	            <th data-field="id" data-width="100">ID</th>
	            <th data-field="title">名称</th>
	            <th data-field="online" data-formatter="online_style">是否在线</th>
	            <th data-field="" data-formatter="bind_style">是否绑定</th>
	            <th data-field="location" data-formatter="format">地理位置</th>
	            <th data-field="auth_info" data-formatter="format">认证信息</th>
	            <th data-field="create_time">创建时间</th>
	            <!-- <th data-field="fmt">操作</th> -->
	        </tr>
	    </thead>
	</table>
</div>
</body>
<script>
function online_style(value) {
	value += '';
	if (value == 'false') {
		return '<p class="label label-danger">离线</p>';
	} else if (value == 'true') {
		return '<p class="label label-success">在线</p>';
	}
}
function bind_style(value) {
	return '<p class="label label-success">是</p>';
}
function format(value) {
	return JSON.stringify(value);
}
function search() {
	let params = $("#search_form").serializeJson() || {};
	init_page("#search_form", params);
}
function init_page(toolbar_el, search_condition) {
	let table_opt = {
	   method: 'get',
	   cache: false,
	   striped: true,
	   pagination: true,
	   pageSize: 30,
	   pageList: [30],
	   queryParams: function (params) {
		   params = params || {};
		   for (let key in search_condition) {
			   params[key] = search_condition[key];
		   }
		   params.pageSize = this.pageSize;
		   params.pageNumber = this.pageNumber;
		   return params;
	   },
	   url: "/main/bind/list",
	   sidePagination: "server",
	   dataType: "json",
	   search: false,
	   toolbar: toolbar_el,
	   pagination: true
	};
	$('#device-table').bootstrapTable(table_opt);
}
$(function() {
	init_page("#search_form", {});
})
</script>
</html>